<ul class="sidebar-menu">
    <li class="nav-level">--- Navegación</li>
    {% if request.endpoint == "index" %}
        <li class="active treeview">
            <a class="waves-effect waves-dark" href="{{url_for('index')}}">
                <i class="icon-speedometer"></i><span> Dashboard</span>
            </a>                
        </li>
    {% else %}
        <li class="treeview">
            <a class="waves-effect waves-dark" href="{{url_for('index')}}">
                <i class="icon-speedometer"></i><span> Dashboard</span>
            </a>                
        </li>
    {% endif %}
    <li class="nav-level">--- Secciones</li>
    {% if request.endpoint in ['my_projects', 'projects_collaborator', 'projects_stakeholder', 'deleted_projects']  %}
        <li class="active treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-briefcase"></i><span> Proyectos</span><i class="icon-arrow-down"></i></a>
            <ul class="treeview-menu">
                {% if request.endpoint == 'my_projects' %}
                    <li class='active'><a class="waves-effect waves-dark" href="{{url_for('my_projects')}}"><i class="icon-arrow-right"></i> Mis Proyectos</a></li>
                {% else %}
                    <li><a class="waves-effect waves-dark" href="{{url_for('my_projects')}}"><i class="icon-arrow-right"></i> Mis Proyectos</a></li>
                {% endif %}

                {% if request.endpoint == 'projects_collaborator' %}
                    <li class='active'><a class="waves-effect waves-dark" href="{{url_for('projects_collaborator')}}"><i class="icon-arrow-right"></i> Colaborador</a></li>
                {% else %}
                    <li><a class="waves-effect waves-dark" href="{{url_for('projects_collaborator')}}"><i class="icon-arrow-right"></i> Colaborador</a></li>
                {% endif %}

                {% if request.endpoint == 'projects_stakeholder' %}
                    <li class='active'><a class="waves-effect waves-dark" href="{{url_for('projects_stakeholder')}}"><i class="icon-arrow-right"></i> Stakeholder</a></li>
                {% else %}
                    <li><a class="waves-effect waves-dark" href="{{url_for('projects_stakeholder')}}"><i class="icon-arrow-right"></i> Stakeholder</a></li>
                {% endif %}

                {% if request.endpoint == 'deleted_projects' %}
                    <li class='active'><a class="waves-effect waves-dark" href="{{url_for('deleted_projects')}}"><i class="icon-arrow-right"></i> Eliminados</a></li>
                {% else %}
                    <li><a class="waves-effect waves-dark" href="{{url_for('deleted_projects')}}"><i class="icon-arrow-right"></i> Eliminados</a></li>
                {% endif %}
            </ul>
        </li>
    {% else %}
        <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-briefcase"></i><span> Proyectos</span><i class="icon-arrow-down"></i></a>
            <ul class="treeview-menu">
                <li><a class="waves-effect waves-dark" href="{{url_for('my_projects')}}"><i class="icon-arrow-right"></i> Mis Proyectos</a></li>
                <li><a class="waves-effect waves-dark" href="{{url_for('projects_collaborator')}}"><i class="icon-arrow-right"></i> Colaborador</a></li>
                <li><a class="waves-effect waves-dark" href="{{url_for('projects_stakeholder')}}"><i class="icon-arrow-right"></i> Stakeholder</a></li>
                <li><a class="waves-effect waves-dark" href="{{url_for('deleted_projects')}}"><i class="icon-arrow-right"></i> Eliminados</a></li>
            </ul>
        </li>
    {% endif %}
</ul>