<!DOCTYPE html>
<html lang="en">

<head>
   <title>{{ title }}</title>
   <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')}}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')}}"></script>
    <![endif]-->

   <!-- Meta -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="description" content="codedthemes">
   <meta name="keywords" content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
   <meta name="author" content="codedthemes">

   <!-- Favicon icon -->
   <link rel="shortcut icon" href="{{url_for('static', filename='app/images/favicon.png')}}" type="image/x-icon">
   <link rel="icon" href="{{url_for('static', filename='app/images/favicon.ico')}}" type="image/x-icon">

   <!-- Google font-->
   <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <!-- themify -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/icon/themify-icons/themify-icons.css')}}">

   <!-- iconfont -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/icon/icofont/css/icofont.css')}}">

   <!-- simple line icon -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/icon/simple-line-icons/css/simple-line-icons.css')}}">

   <!-- Required Fremwork -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/plugins/bootstrap/css/bootstrap.min.css')}}">

   <!-- bash syntaxhighlighter css -->
   <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='app/plugins/syntaxhighlighter/styles/shCoreDjango.css')}}" />

   <!-- Style.css')}} -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/main.css')}}">

   <!-- Responsive.css')}}-->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/responsive.css')}}">



</head>

<body class="sidebar-mini fixed">
   <div class="wrapper">
      <div class="loader-bg">
         <div class="loader-bar">
         </div>
      </div>
      <!-- Navbar-->
      {% include 'app/navbar.html' %}
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
            <!-- Sidebar Menu-->
            {% include 'app/left-menu.html' %}
         </section>
      </aside>
      {% include 'app/side_chat.html' %}
      <div class="content-wrapper">
         <!-- Container-fluid starts -->
         <div class="container-fluid">
            <!-- Main content starts -->
            <div>
               <!-- Row Starts -->
               <div class="row">
                  <div class="col-sm-12 p-0">
                     <div class="main-header">
                        <h4>Perfil del usuario</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                           <li class="breadcrumb-item"><a href="{{url_for('index')}}"><i class="icofont icofont-home"></i></a>
                           </li>
                           <li class="breadcrumb-item"><a href="{{url_for('profile')}}">Perfil</a>
                        </ol>
                     </div>
                  </div>
               </div>
               <!-- Row end -->

               <!-- Row start -->
               <div class="row">
                  <!-- Form Control starts -->
                  <div class="col-lg-4 align-items-center">
                     <div class="card">
                        <div class="user-block-2">
                           {% if args["session"]["RUNNING_LOCAL"] %}
                              <img class="img-fluid" src="{{url_for('static', filename='app/images/avatar-1.png')}}" style="width:145px;" alt="user-header">
                           {% else %}
                              <img class="img-fluid" src="{{args['session']['user']['profile_picture']}}" style="width:145px;" alt="user-header">
                           {% endif %}
                           <h5>{{args["session"]["user"]["names"]}} {{args["session"]["user"]["lastnames"]}} </h5>
                           <h6>{{args["session"]["user"]["job"]}}</h6>
                        </div>
                        <div class="card-block"> 
                           <div class="user-block-2-activities">
                              <div class="user-block-2-active">
                                 <i class="icofont icofont-ui-user"></i> Usuario
                                 <label class="label label-primary">{{args["session"]["user"]["username"]}}</label>
                              </div>
                           </div>
                           <div class="user-block-2-activities">
                              <div class="user-block-2-active">
                                 <i class="icofont icofont-at"></i> Correo
                                 <label class="label label-primary">{{args["session"]["user"]["email"]}}</label>
                              </div>
                           </div>
   
                           <div class="user-block-2-activities">
                              <div class="user-block-2-active">
                                 <i class="icofont icofont-company"></i> Compañia
                                 <label class="label label-primary">{{args["session"]["user"]["company"]}}</label>
                              </div>
   
                           </div>
                           <div class="user-block-2-activities">
                              <div class="user-block-2-active">
                                 <i class="icofont icofont-hill-side"></i> Ciudad
                                 <label class="label label-primary">{{args["session"]["user"]["city"]}}</label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Form Control ends -->

                  <!-- Textual inputs starts -->
                  <div class="col-lg-8">
                     <div class="card">
                        <div class="card-header">
                           <h5 class="card-header-text">Formulario</h5>
                        </div>
                        <!-- end of modal -->
                        <div class="card-block">
                           <form>
                              <div class="form-group row">
                                 <label for="names" class="col-xs-2 col-form-label form-control-label">Nombres</label>
                                 <div class="col-sm-10">
                                    <input class="form-control" type="text" value="{{args['session']['user']['names']}}" id="names">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="lastnames" class="col-xs-2 col-form-label form-control-label">Apellidos</label>
                                 <div class="col-sm-10">
                                    <input class="form-control" type="text" value="{{args['session']['user']['lastnames']}}" id="lastnames">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="example-username-input" class="col-xs-2 col-form-label form-control-label">Usuario</label>
                                 <div class="col-sm-10">
                                    <input class="form-control" type="text" value="{{args['session']['user']['username']}}" id="example-username-input">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="example-email-input" class="col-xs-2 col-form-label form-control-label">Email</label>
                                 <div class="col-sm-10">
                                    <input class="form-control" type="email" value="{{args['session']['user']['email']}}" id="example-email-input">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="example-job-input" class="col-xs-2 col-form-label form-control-label">Trabajo</label>
                                 <div class="col-sm-10">
                                    <input class="form-control" type="text" value="{{args['session']['user']['job']}}" id="example-job-input">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="example-city-input" class="col-xs-2 col-form-label form-control-label">Ciudad</label>
                                 <div class="col-sm-10">
                                    <input class="form-control" type="text" value="{{args['session']['user']['city']}}" id="example-city-input">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="example-company-input" class="col-xs-2 col-form-label form-control-label">Compañia</label>
                                 <div class="col-sm-10">
                                    <input class="form-control" type="text" value="{{args['session']['user']['company']}}" id="example-company-input">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="file" class="col-md-2 col-form-label form-control-label">Foto</label>
                                 <div class="col-md-9">
                                    <label for="file" class="custom-file">
                                                <input type="file" id="file" class="custom-file-input">
                                                <span class="custom-file-control"></span>
                                            </label>
                                 </div>
                              </div>
                              <input type="submit" value="Enviar" class="btn btn-success waves-effect waves-light m-r-30">
                           </form>
                        </div>
                     </div>
                  </div>
                  <!-- Textual inputs ends -->
               </div>
               <!-- Row end -->
            </div>
            <!-- Main content ends -->
         </div>
         <!-- Container-fluid ends -->
      </div>
   </div>


   <!-- Required Jqurey -->
   <script src="{{url_for('static', filename='app/plugins/Jquery/dist/jquery.min.js')}}"></script>
   <script src="{{url_for('static', filename='app/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
   <script src="{{url_for('static', filename='app/plugins/tether/dist/js/tether.min.js')}}"></script>

   <!-- Required Fremwork -->
   <script src="{{url_for('static', filename='app/plugins/bootstrap/js/bootstrap.min.js')}}"></script>

   <!-- waves effects.js -->
   <script src="{{url_for('static', filename='app/plugins/Waves/waves.min.js')}}"></script>

   <!-- Scrollbar JS-->
   <script src="{{url_for('static', filename='app/plugins/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
   <script src="{{url_for('static', filename='app/plugins/jquery.nicescroll/jquery.nicescroll.min.js')}}"></script>

   <!--classic JS-->
   <script src="{{url_for('static', filename='app/plugins/classie/classie.js')}}"></script>

   <!-- notification -->
   <script src="{{url_for('static', filename='app/plugins/notification/js/bootstrap-growl.min.js')}}"></script>

   <!-- Highliter js -->
   <script type="text/javascript" src="{{url_for('static', filename='app/plugins/syntaxhighlighter/scripts/shCore.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static', filename='app/plugins/syntaxhighlighter/scripts/shBrushJScript.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static', filename='app/plugins/syntaxhighlighter/scripts/shBrushXml.js')}}"></script>
   <script type="text/javascript">
      SyntaxHighlighter.all();
   </script>

   <!-- custom js -->
   <script type="text/javascript" src="{{url_for('static', filename='app/js/main.min.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static', filename='app/pages/elements.js')}}"></script>
   <script src="{{url_for('static', filename='app/js/menu.min.js')}}"></script>

</body>

</html>
